<div class="adicionarInformacoes">
    <th>Informe o seu nome:</th>
    <th>Saldo: <input [(ngModel)]="saldo"></th>
    <th>Renda bruta: <input [(ngModel)]="rendaBruta"></th>
    <th>CPF: <input [(ngModel)]="cpf"></th>
    <th>Telefone: <input [(ngModel)]="telefone"></th>


    <label for="dataNasc">Data de Nascimento:</label>
    <input type="date" id="dataNasc" name="dataNascimento" [(ngModel)]="dataNascimento">

    <div class="botoes-tipo">
        <button (click)="selecionarTipo(tipoConta.CORRENTE)"
            [class.ativo]="tipoContaValida === tipoConta.CORRENTE">
            Conta Corrente
        </button>

        <button (click)="selecionarTipo(tipoConta.POUPANCA)"
            [class.ativo]="tipoContaValida === tipoConta.POUPANCA">
            Conta Poupança
        </button>
    </div>

    <button *ngIf="formularioValido()" (click)="criarContaComponente()">
        Finalizar Abertura de Conta
    </button>
</div>