:host {
  display: block;
  background-color: rgba(131, 131, 131, 0);
  min-height: 200px;
}

body {
    display: block;
    background-color: rgb(8, 8, 8);
}

p {
  margin-bottom: 15px;
  font-size: 1.1rem;
}

.rodape {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 1px;
  position: fixed;
  bottom: 0;
  width: 100%;
}