<div class="container-detalhes">

    @if (nave(); as n) {

    <div class="card-detalhe">
        <div>
            <h1>{{ n.modelo }}</h1>
            <p class="subtitulo">{{ n.descricao }}</p>

            <div class="imagem-box">
                <img [src]="imagemUrl()" [alt]="n.modelo" class="foto-nave">
            </div>

            <div class="info-box">
                <p><strong> Velocidade:</strong> {{ n.max_velocidade }} km/h</p>
                <p><strong> Tripulação:</strong> {{ n.equipe }}</p>
                <hr />
                <p><strong> Custo:</strong> {{ formatarValor(n.valor_creditos) }} Créditos</p>
                <p>(1 crédito imperial de Star Wars vale cerca de 4 dólares)</p>
                <hr />
            </div>

            <a routerLink="/" class="btn-voltar"> Voltar para a Frota</a>
        </div>
    </div>

    } @else {
    <p>Carregando dados da nave...</p>
    }

</div>